<html>
<head>
    <title>Test Vuex</title>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
</head>
<body>
    <div id="app">
        <test-comp></test-comp>
    </div>
    <script src="/js/output/testOutput.js"></script>
</body>
</html>